*{
    margin: 0;
    padding: 0;
    outline: none; border: none;
}

:root{
    --green:#27ae60;
    --black:#444;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --boder:.1rem solid rgba(0,0,0,.2);
    --box-shadow: .4rem .4rem 1rem #ccc,
                   -.3rem -.3rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                        -.4rem -.4rem 1rem #fff inset;
}
#tasbeh{
    width: 100%;
    height: 100vh;
    background-color:white;
    position: absolute;
}
.imgts{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 30%;
    width: 550px;
    height: 550px;
}
.ekran{
    top: 25%;
    position: absolute;
    border-radius: 15px;
    width: 225px;
    left: 41.9%;
    height: 120px;
    background-color: var(--green);
    z-index: 999;
    font-size: 75px;
    text-align: center;
    caret-color: var(--green);
}

.button{
    z-index: 999;
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 44.5%;
    top: 54%;
    transition: .1s linear;
}
.button:active{
    box-shadow: var(--box-shadow);
    
}

.delete{
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    background-color: white;
    transition: all .2s linear;
    left: 55%; top: 45%;

}
.delete:active{
    box-shadow: var(--box-shadow-inset);
    border: 1px solid black;
}


@media only screen and (max-width:450px){
    #tasbeh{
        width: 100%;
        height: 100vh;
    }
    .imgts{
        width: 100%;
        height: 70%;
        left: 0%;
        top: 10%;
    }
    .ekran{
        left: 29%;
        top: 23%;
        width: 170px;
        height: 85px;
        font-size: 55px;
        font-family: monospace;
    }
    .button{
        width: 120px;
        height: 120px;
        top: 45%;
        left: 35%;
        border: 10px double gray;
    }
    .delete{
        z-index: 9999999999999999999999999999999999999;
        top: 39%;
        left: 62%;
        width: 30px;
        height: 30px;
        border: 2px double gray;

    }
  


}

@media only screen and (max-width:650px){
    #tasbeh{
        width: 100%;
        height: 100vh;
    }
    .imgts{
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
    .ekran{
        position: absolute;
        left: 29%;
        top: 19%;
        width: 270px;
        height: 125px;
        font-size: 75px;
        font-family: monospace;
    }
    .button{
        width: 190px;
        height: 180px;
        top: 50%;
        left: 36%;
        border: 10px double gray;
    }
    .delete{
        z-index: 9999999999999999999999999999999999999;
        top: 41%;
        left: 62%;
        width: 50px;
        height: 50px;
        border: 2px double gray;
}

}
 

@media only screen and (max-width:520px){
    #tasbeh{
        width: 100%;
        height: 100vh;
    }
    .imgts{
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }
    .ekran{
        position: absolute;
        left: 29%;
        top: 19%;
        width: 250px;
        height: 125px;
        font-size: 75px;
        font-family: monospace;
    }
    .button{
        width: 190px;
        height: 180px;
        top: 50%;
        left: 36%;
        border: 10px double gray;
    }
    .delete{
        z-index: 9999999999999999999999999999999999999;
        top: 41%;
        left: 62%;
        width: 50px;
        height: 50px;
        border: 2px double gray;
}

}





